*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 5rem;
    border-bottom: 1px solid rgb(223, 221, 221);

}
.logo{
    width: 130px;
}
.navbar input{
    height: 37.6px;
    padding-left: 1rem;
    border-radius: 20px;
    outline: none;
    border: 1px #ccc solid;
    font-size: 0.8rem;
    width: 400px;
    background-color: #f4f4f4;
}
.footer {
    margin-top: 1rem;
    background-color: rgb(255, 179, 14);
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    text-align: center;
    font-size: 1.25rem;
    justify-content: space-between;
}
.footer p i {
    margin-right: 1rem;
}
.social i:hover {
    transform: scale(1.25);
}
.footer .social {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.footer svg, .footer i {
    transform: scale(1.1);
}
#kid {
    display: block;
}
.btn{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: orange;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-in-out;
}
.main .btn, .about .btn {
    padding: 0.75rem 2.5rem;
}
.navbar .btn{
    position: relative;
    left: -98px;
    top: 2.5px;
}
.hovp:hover{
    background-color: #ce1845;
    color: white;
}
.hovw:hover{
    background-color: white;
    color: #ce1845;
}
.main{
    background: url('./slide-01.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}
.main .content{
    color: white;
    width: 50%;
    margin-left: 3rem;
    padding-top: 12rem;
}
.title{
    font-size: 3rem;
}
.about .content {
    flex: 1;
}
.content p{
    padding: 2rem 0;
    padding-bottom: 3rem;
    width: 75%;
    font-size: 1.5rem;
}
.about{
    padding: 3rem 4rem;
    color: #333;
    align-items: flex-start;
    display: flex;
    background-color:#e8e9ed;
    transform: scale(0.9);
}
.about .title{
    margin-top: 2rem;
}
.about img {
    margin-top: 2rem;
    object-fit: contain;
    width: 60%;
}
.card img{
    width: 175px;
    padding: 0.75rem 0;
}
.toys > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.toys{
    text-align: center;
    margin: 3rem 0;
}
.toys .title{
    margin-bottom: 3rem;
}
.card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid white;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8%;
    overflow: hidden;
    color: black;
    padding: 1.5rem 0;
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
}
.card:hover{
    border: 6px solid orange;
}
.card .btn{
    background-color: orange;
    color: white;
    top: 40px;
    width: 150px;
    transition: none;
    text-transform: none;
    border: 3px solid orange;
}
.card div{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 0;
}
.card div i{
    color: orange;
}
.card .btn:hover{
    background-color: rgb(255, 179, 14);
}